<head>
    <title>Spring Security Example </title>
</head>
<body>
<div ${param.error}>
    Invalid username and password.
</div>
<div ${param.logout}>
    You have been logged out.
</div>
<form method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>